<div class="box-footer">
    <div class="footer-logo">
        <img src='assets/home/Group 2268.png' />
    </div>

    <div class="footer-box-2"></div>
    <div class="footer-content">
        <div class="container">
            <div class="footer-info">
                <div class="footer-title">Công ty TNHH đầu tư công nghệ HESTECH</div>
                <div>Địa chỉ:  Số 8, Ngõ 8A, Phố Vũ Thạnh, Phường Ô Chợ Dừa, Quận Đống Đa, Thành phố Hà Nội, Việt Nam</div>
                <div>Giấy phép ĐKKD số 0110469852 do sở Kế hoạch và Đầu tư TP Hà Nội cấp ngày 06/09/2023</div>
                <div style="display: flex; align-items: center; gap: 20px;"><img src="assets/home/dien-thoai.png" alt=""> <a href="tel:0888521816">0888.52.1816</a></div>
                <div style="display: flex; align-items: center; gap: 20px;"><img src="assets/home/email.png" alt="">  <a href="mailto:lienhe@trungtamsach.vn">lienhe@trungtamsach.vn</a></div>
            </div>
            <div class="line"></div>
            <div class="lien-he">
                <div class="dieu-khoan">
                    <div class="box-title">ĐIỀU KHOẢN VÀ CHÍNH SÁCH SỬ DỤNG</div>
                    <div><a href="/gioi-thieu/chinh-sach-thanh-toan">Chính sách thanh toán</a></div>
                    <div><a href="/gioi-thieu/chinh-sach-bao-mat">Chính sách bảo mật</a></div>
                    <div><a href="/gioi-thieu/chinh-sach-bao-hanh">Chính sách bảo hành</a></div>
                    <div><a href="/gioi-thieu/chinh-sach-doi-tra">Chính sách đổi trả</a></div>
                </div>
                <div class="gioi-thieu">
                    <div class="box-title">VỀ CHÚNG TÔI</div>
                    <div><a href="/gioi-thieu/gioi-thieu">Giới thiệu</a></div>
                    <div><a href="/gioi-thieu/lien-he">Liên hệ</a></div>
                    <div><a href="/profile">Thông tin thêm</a></div>
                </div>
                <div class="lien-ket">
                    <div class="box-title">LIÊN KẾT</div>
                    <div>
                        <a href="https://www.facebook.com/trungtamsach.vn" target="_blank"><img src="assets/icon-footer/facebook_733547.png" alt=""></a>
                        <a href="" target="_blank"><img src="assets/icon-footer/twitter_733579.png" alt=""></a>
                        <a href="" target="_blank"><img src="assets/icon-footer/whatsapp_733585.png" alt=""></a>
                        <a href="" target="_blank"><img src="assets/icon-footer/linkedin_733561.png" alt=""></a>
                    </div>
                </div>

            </div>
            <div class="thong-bao-footer" ng-if="configFooter" ng-bind-html="configFooter.Value" style="{{configFooter.GhiChu}}">
            </div>
        </div>
    </div>
</div>