<?xml version="1.0" encoding="utf-8"?>
<!-- the root web configuration file -->
<configuration>
	<system.web>
		<globalization culture="vi-VN" uiCulture="vi-VN" />
	</system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="redirect all requests" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
					</conditions>
					<action type="Rewrite" url="index.html" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<connectionStrings>
		<remove name="LocalSqlServer" />
	</connectionStrings>
</configuration>